.showcaseDesign {

    background-color: rgb(243, 234, 191);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.showcaseTitle {
    color:black;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.recipeWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
