p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.registerCardDesign {

    height: 75vh;
    width: 25vw;

    background-color: whitesmoke;
    border-radius: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button {
    text-decoration: none;
    text-decoration-style: none;
    border-radius: 4px;
    background-color: aquamarine;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
}

.registerCardUp {
    height: 14em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.logoDesign {

    height: 5em;
}

.basicInput {

    margin: 1em;

    height: 3em;
    width: 18em;

    border-radius: 5%;

    border: 0.2em solid orange;

}

.errorInput {

    border: 0.2em solid red;

}

.errorMsg {

    color: red;

}