.searchPage {
    display: flex;
    flex-direction: column;
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008);    height: 100vh;
    overflow-x: hidden;
    width: 100%;

}
.searchBar {
    display: flex;
}
.searchInput {
    display: flex;
    margin-top: 2em;
    width: 24em;
    border-radius: 8px;
    height: 2.5em;
    border: 2px solid lightslategrey;
    
    
}

.leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.searchResults {
    width: 72vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;


}

.movieSmallImage{
    width: 10em; 
}

.movieCard{
    width: 12em;
    margin-top: 0.5em;
    cursor:pointer;
}


.clickMovie {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    width: 30vw;
    margin-top: 1em;

}

.showContainer {
    display: flex;
    height: 100vh;
    flex-direction: row;

}